:root {
    --primary: #ff8929;
    --primary-dark:#FF7100;
    --blue: #bee2ff;
    --secondary: rgb(85, 84, 84);
    --light: rgb(216, 216, 216);
    --medium: rgb(173, 173, 173);
    --dark: rgb(102, 102, 102); 
   --orange: #ffd8a6;
}