body,
html {
  font-family: "Roboto", sans-serif;
}

body {
  padding-bottom: 100px;
}

/* Menu */ 

#header {
  width: 100%;
  background-color: transparent;
  transition: background ease-out 0.2s;
}

#header.active {
  position: fixed;
  background: #fff;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

#header .navbar-collapse {
  width: auto;
}

#header .nav-link {
  text-transform: uppercase;
  font-weight: 500;
  padding-left: 20px;
  padding-right: 20px;
  color: #000;
  border-bottom: solid 4px transparent;
}

#header .nav-link:hover {
  border-bottom: solid 4px rgb(0, 0, 0);
  color: rgb(0, 0, 0);
}

/* Menu lateral */
.offcanvas {
  padding-left: 8px;
  font-family:"Roboto", sans-serif;
  background-color: #BBE0FF;
}

.imagem{
  border: 1px #FF7100;
}


.lateral {
  width: 110%;
}

.lateral b {
  color: #FF7100;
}

.campo{
background-color: white;
}


#demo a{
  background-color: #FF7100;
  border: #FF7100;
}

#demo h3{
  color: #FF7100;
}

/* Escola */

#sobre {
    margin-top: 50px;
    margin-bottom: 50px;
}



/* Plataforma */ 

#plataforma {
  padding-top: 30px;
  padding-bottom: 40px;
}

#plataforma a.destaques {
    display: block;
    background: #dbdbdb;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    color: #000;
    text-decoration: none;
    transition: all ease-out 0.2s;
}

#plataforma a.destaques:hover {
    background: rgb(95, 95, 95);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
    transform: scale(1.05);
}

#plataforma p {
    color: #000000;
}

#plataforma a.destaques .img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

#plataforma a.destaques .img-container img {
  width: 150px;
  height: 150px;
  border-radius: 100px;
}

/* Rodapé index */

#contact-area {
    text-align: center;
    margin-bottom: -50px;
  }
  
  .contact-box {
    padding-bottom: 10px;
    margin-bottom: 50px;
  }
  
  .contact-box i {
    color: #FF7100;
    border: solid 1px #FF7100;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    line-height: 55px;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .contact-box p {
    font-size: 16px;
  }
  
  .contact-tile {
    font-weight: bold;
    color: #FF7100;
  }
  
  #contact-area #rodape {
    border-radius: 5px;
    background-color: #BBE0FF;
    color: black;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 80px;
  }

    #contact-area #rodape img {
        position: absolute;
        left: 30px;
        top: -30px;
    } 


    #contact-area ul {
        margin: -25px;
        padding: 0px 0px 0px 1150px ;
        display: flex;
        justify-content: flex-end;
    }
    #contact-area ul li {
        display: flex;
        list-style-type: none;
        margin-left: 25px;
    }
    
    #contact-area ul li:first-child {
        margin-left: 0;
    }
    
    #contact-area ul li i {
        color: rgb(29, 30, 65);
        display: flex;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        transition: all ease-out 0.2s;
    }
    
    #contact-area ul li i:hover {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
        background-color: #fff;
    }
    
    #contact-area ul li img {
        max-height: 20px;
    }

    #contact-area img {
      position: absolute;
      left: 140px;
      margin: -20px;
    }

 
    .col-100{
      width: 100%;
   }
   
  .col-100{
    width: 100%;
    float: left;
    position: relative;
  }
   
  button.slick-prev{
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    z-index: 9;
    position: absolute;
    background-color: transparent;
    background-image: url('anterior.png');
    top: 35%;
    left: 14%;
  }
   
  button.slick-next{
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    z-index: 9;
    position: absolute;
    background-color: transparent;
    background-image: url('proximo.png');
    top: 35%;
    right: 14%;
  }
   
   
  .slick-list{
    width: 100%!important;
  }
   
  .slick-initialized{
    overflow: hidden;
  }
   
  .slick-dots li button{
    font-size: 0px;
    border: 5px solid #ffffff;
    width: 26px;
    height: 26px;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
  }
   
  .slick-dots{
    margin: 0 auto;
    width: 50%;
    position:absolute;
    left: 50%;
    top: 600px;
  }
   
  li.slick-active button{
    background-color: #00bac6;
  }
   
  .slick-dots li{
    padding-left: 10px;
    display: inline-block;
  }

  /* Cardápio*/

  #cardapio {
    padding-top: 70px;
  }

  .btn {
    margin-top: 20px;
 
  } 

  #cardapio button{
    background-color: #FF7100;
    border-color: #FF7100;
    border-radius: 10rem;
  }

  #cardapio a{
    background-color: #a1d5ff;
    border-color: #a1d5ff;
    font-size: 14pt;
  
  }

  .carda {
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    font-size: 14pt;
    color: #000;
  }


  
  #dieta {
  background-color: #BBE0FF;
  margin-top: 50px;
  border-radius: 40px;
  margin-left: 80px;
  margin-right: 80px;
  }

/* Rodapé */ 
 
.footer {
  position: fixed;
  height: 50px;
  background-color: var(--light);
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}

/* Cardápio */

.hora {
  margin-left: -80px;
}

#cronograma {
  padding-top: 70px;
}

.cronograma{
  font-size: 16pt;
}


.botao{
  margin-top: 40px;
  margin-bottom: 40px;
}


.grid{
  border: 1px solid black;
}


/* ESTATUTO */ 
 

