

html, body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

#cardapio h2{
    margin-bottom: -20px ;
}

.main-box{
    width: 100%;   
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-eventos{
    height: 80%;
    width: 80vw;
}


.card-eventos .subtitle{
    margin: 0px;
    padding: 10px 20px;
    color: black;
    text-align: center;
}

.subtitle .junction-hidde-works{
    display: none;
}



#cardapio b:hover{
    background-color: #678caa;
    border-color: #678caa;
}

.event{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.element-item{
    display: grid;
    align-items: center;
    margin: -130px 5px 25px 0px;
}

.element-item b{
    background-color: #BBE0FF;
    border-color: #BBE0FF;
    font-size: 14pt;
}

.element-item img{
    object-fit: cover;
    object-position: center;
}

.element-item p{
    height: 200px;
    width: 200px;
}

.element-item span{
    display: grid;
    justify-items: center;
    align-items: center;
    margin: 15px 0px 0px 15px;
    width: 90%;
    border: 2px solid #ff9900;
    border-radius: 10px;
    background-color: white;
    color: #ff9900;
    font-weight: bold;
    font-size: 15px;
}
